<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<!-- Title -->
		<title>MINDPARK创意大会 2018</title>

		<!-- Required Meta Tags Always Come First -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PMTLWDJ');</script>
		<!-- End Google Tag Manager -->

		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="http://pic.topys.cn/mindpark/mp_ico.ico" />

		<!-- CSS Global Compulsory -->
		<link rel="stylesheet" href="Public/plug-in/bootstrap/dist/css/bootstrap.min.css">


		<!-- <link rel="stylesheet" type="text/css" href="Public/plug-in/custombox/dist/custombox.min.css"> -->
		<link rel="stylesheet" type="text/css" href="Public/plug-in/custmbox/dist/custombox.min.css" />
		<link rel="stylesheet" type="text/css" href="Public/plug-in/plyr/dist/plyr.css">
		<link rel="stylesheet" href="Public/plug-in/swiper/dist/css/swiper.min.css">
		<link rel="stylesheet" href="Public/css/home/style.css?v=1578281197">

	</head>

	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PMTLWDJ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<input type="hidden" id="token" value="1b4e6ba7de09875c906b6177bcb39f31c361f506">
		<input type="hidden" id="timestape" value="1578281197">
		<input type="hidden" id="lang" value="zh-cn">

		<div id="login_modal" style="display: none;">
			<div class="modal_close">
				<div class="row">
					<div class="col-sm-12 text-right">
						<a href="javascript:;" onclick="Custombox.modal.close()"><img src="Public/images/home/index/modal_close.png"
							 width="45px"></a>
					</div>
				</div>
			</div>

			<div class="modal_body row">
				<img class="login_m_img" src='' width='380px'>
			</div>
		</div>

		<!-- <div class="ps_modal">
		<div class="ps_close">
			<img src="/2018/Public/images/home/index/modal_close.png" width="12px">
		</div>
		<div class="text-center ps_title">MINDPARK 2018 嘉宾信息更新</div>
		<div class="ps_info">原定于4月21日设计驱动版块的瑞典讲者Cecilia Clase 由于家庭突发性因素无法出席本次大会，经过大会组委会与嘉宾的努力，原定演讲时间将由英国照明设计公司Light Bureau创始人Paul Traynor 作为讲者。<br>若带来任何不便，敬请您谅解 ！</div>
	</div> -->

		<div class="bb_logo">
			<div class="bb_3">
				<p>ADMINISTRATOR</p>
				<p><img src="Public/images/home/index/textLogo.png" width='250px'></p>
			</div>

			<div class="bb_1">
				<p>ORGANIZER</p>
				<p><img src="Public/images/home/index/rightLogo.png" width='100px'></p>
			</div>

			<!--<div class="bb_2">
			<p>联合承办方</p>
			<p><img src="http://pic.topys.cn/mindpark/wx/zhongzhou.png?1578281197" width='110px'></p>
		</div>-->
		</div>
		<div class="header_body container">
			<div id="index_menu">
				<div id="index_logo">
					<a href='/2018'><img src="Public/images/home/index/logo.png" id="white_logo"></a>
					<a href='/2018'><img src="Public/images/home/index/logo.png" id="black_logo"></a>
				</div>

				<a href="/2018/index/buy" target="_blank" class='buy_a'>
					<!--<div class='buy-btn'>现场票已售罄</div>--></a>
				<ul class="list-unstyled" id="menu_ul">
					<li id="menu_li_1"><a class="menu_a" data-s='500' data-href=".s_position_1">ICA2020</a></li>
					<li id="menu_li_3"><a class="menu_a" data-s='1500' data-href=".s_position_3">SPEAKERS</a></li>
					<li id="menu_li_2"><a class="menu_a" data-s='1000' data-href=".s_position_2">AGENDA</a></li>
					<li id="menu_li_7"><a class="menu_a" data-s='3000' data-href=".s_position_7">DESIGN COMPETITION</a></li>
					<li id="menu_li_4"><a class="menu_a" data-s='2000' data-href=".s_position_4">NEWS</a></li>
					<li id="menu_li_5"><a class="menu_a" data-s='2500' data-href=".s_position_5">VENUE</a></li>
					<li id="menu_li_6"><a class="menu_a" data-s='3000' data-href=".s_position_6">TOUR GUIDE</a></li>
					<li id="menu_li_8"><a class="menu_a" data-s='3000' data-href=".s_position_8">ABOUT ICA</a></li>
					<li id="menu_li_9"><a class="menu_a" data-s='3000' data-href=".s_position_9">SPONSORS</a></li>
					<!--<li class=''><a href="javascript:;" class="w_btn">志愿者招募</a></li>-->
				</ul>
			</div>

			<header id='page-header'>
				<ul class="header_menu list-inline gt_black text-right">
					<!--<li class="active">MINDPARK 2018</li>-->
					<!--<li class=""><a href="/2018/webzz">实践：未来城市</a></li>-->
					<!--<li class=""><a href="/2018/index/recommend">创意城市指南</a></li>-->
					<!--<li><a href="/2018/index/about">关于MINDPARK</a></li>-->
					<!--<li class=''><a href="javascript:;" class="m_ticket l_m_btn" data-img="http://pic.topys.cn/mindpark/wx/login.jpg?1578281197">票务中心</a></li>-->

					<!-- <li><a href="./?lang=en-us">EN</a></li> -->

					<!-- <li><a href="page_url"></a></li> -->
				</ul>
			</header>
		</div>

		<div id="index_page_first">
			<div class="index_page_text s_position_1">
				<!--<h1 class=''>未来城市</h1>-->
				<p class="gt_black">WORLD'S GLITTER</p>
				<p class="gt_black">IN CHINA</p>
				<p class="gt_mt">
					<p class="gt_time">—— shenzhen china ——</p>
					<p class="gt_time">2020.09.20-23</p>
				</p>

			</div>
			<!--<div id="index_bottom"></div>-->
		</div>

		<div class="container">
			<div class="container_body">

				<div id="index_video" class="row">
					<div class="video col-sm-12">
						<video style='width:100%;' poster="Public/images/home/index/video.png" controls>
							<source src="https://ugcws.video.gtimg.com/uwMROfz2r5zIIaQXGdGnC2dfDmb_xYKxrIGz_bGUg2Lja6ru/u0639tmf1cx.mp4?sdtfrom=v1010&guid=de4316882721dd5d59055549135e39bd&vkey=4FAFD271ABBBC5E446DF2094D035A030CF744ADAB0D1660B45D4CD967294D4C4A119E61E218C99E178458F5D0439B96B98E8C2D557575D9395EC768462F7B95C60447E2F7EB5004EBEAE43D4708BDC9CC0BDFD2322F336EC7165DF4737506D6B172988857710C9B3066A445533919543BC96A31FBC550AB903B67B5246CE0A31"
							 type="video/mp4">
							<!-- Captions are optional -->
						</video>
					</div>
				</div>

				<div id="mp_speakers" class="row">
					<div class="col-sm-12 s_position_3">
						<div class="content_title">
							<p class="gt_black">SPEAKERS</p>
						</div>

						<div class="mp_speakers_main" id="mp_speakers_1">
							<div class="mp_speakers_title" style="font-weight: bolder;">创意城市</div>
							<div class="row">
								<div class="col-sm-4">
									<div class="mp_speakers_item" style="background-image: url('http://pic.topys.cn/mindpark/wx/g_pic_1.png?1578281197');"
									 @click="getSpeakers('7BD84DFB-9740-17F4-8064-4B0D41')">
										<div class="mp_speakers_info" style="background-image: url('http://pic.topys.cn/mindpark/wx/guest_1.png?1578281197');">
											<div class="mps_n">
												<p class="gt_black" style="font-size:40px;line-height:40px;">DAAN<br />ROOSE-<br />GAARDE <br><span class="super">鹿特丹</span></p>
											</div>
											<div class="mps_j">
												<div class="guest_job">STUDIO ROOSEGAARDE<br />创始人</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="mp_speakers_item" style="background-image: url('http://pic.topys.cn/mindpark/wx/g_pic_2.png?1578281197');"
									 @click="getSpeakers('54C46065-66AF-5E34-F130-E06280')">
										<div class="mp_speakers_info" style="background-image: url('http://pic.topys.cn/mindpark/wx/guest_2.png?1578281197');">
											<div class="mps_n">
												<p class="gt_black">JAMES<br />BINNING <br><span class="super">伦敦</span></p>
											</div>
											<div class="mps_j">
												<div class="guest_job">ASSEMBLE<br />联合创始人</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="mp_speakers_item" style="background-image: url('http://pic.topys.cn/mindpark/wx/g_pic_3.png?1578281197');"
									 @click="getSpeakers('1FA6D452-1284-012B-F9BA-4CB8D4')">
										<div class="mp_speakers_info" style="background-image: url('http://pic.topys.cn/mindpark/wx/guest_3.png?1578281197');">
											<div class="mps_n">
												<p class="gt_black">KINGSLEY<br />JAYASEKERA <br><span class="super">香港</span></p>
											</div>
											<div class="mps_j">
												<div class="guest_job">西九文化区管理局<br />市场推广及访客体验总监</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="mp_speakers_main" id="mp_speakers_2">
							<div class="mp_speakers_title">文化消费目的地</div>
							<div class="row">
								<div class="col-sm-4">
									<div class="mp_speakers_item" style="background-image: url('http://pic.topys.cn/mindpark/wx/g_pic_4.png?1578281197')"
									 @click="getSpeakers('A8E64329-DDA7-7DDE-D7B6-440351')">
										<div class="mp_speakers_info" style="background-image: url('http://pic.topys.cn/mindpark/wx/guest_4_0417.png?1578281197');">
											<div class="mps_n">
												<p class="gt_black">RYAN<br />BUKSTEIN <br><span class="super">洛杉矶</span></p>
											</div>
											<div class="mps_j">
												<div class="guest_job">Ace Hotel<br />品牌副总监</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="mp_speakers_item" style="background-image: url('http://pic.topys.cn/mindpark/wx/g_pic_5.png?1578281197')"
									 @click="getSpeakers('7F36AADA-8BAB-5B89-96BC-3983BF')">
										<div class="mp_speakers_info" style="background-image: url('http://pic.topys.cn/mindpark/wx/guest_5.png?1578281197');">
											<div class="mps_n">
												<p class="gt_black" style="font-size:30px;line-height:30px;">ASTRID KLEIN &<br />MARK DYTHAM <br><span
													 class="super" style="font-size:20px">东京</span></p>
											</div>
											<div class="mps_j">
												<div class="guest_job">Klein Dytham建筑工作室 <br />创始人</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="mp_speakers_item" style="background-image: url('http://pic.topys.cn/mindpark/wx/g_pic_6.png?1578281197')"
									 @click="getSpeakers('A41DEA21-A290-E363-706E-5DA112')">
										<div class="mp_speakers_info" style="background-image: url('http://pic.topys.cn/mindpark/wx/guest_6.png?1578281197');">
											<div class="mps_n">
												<p class="gt_black" style="font-size:40px;line-height:40px;">SIR NICHOLAS<br />KENYON <br><span class="super">伦敦</span></p>
											</div>
											<div class="mps_j">
												<div class="guest_job"> Barbican Centre <br />执行董事</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="mp_speakers_main" id="mp_speakers_3">
							<div class="mp_speakers_title">设计驱动</div>
							<div class="row">
								<div class="col-sm-4">
									<div class="mp_speakers_item" style="background-image: url('http://pic.topys.cn/mindpark/wx/g_pic_7.png?131?1578281197')"
									 @click="getSpeakers('431CBBF3-CC0F-BE1E-B864-5B6960')">
										<div class="mp_speakers_info" style="background-image: url('http://pic.topys.cn/mindpark/wx/guest_7.png?1578281197');">
											<div class="mps_n">
												<p class="gt_black">PAUL<br />TRAYNOR <br><span class="super">伦敦</span></p>
											</div>
											<div class="mps_j">
												<div class="guest_job"> Light Bureau <br />创始人</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="mp_speakers_item" style="background-image: url('http://pic.topys.cn/mindpark/wx/g_pic_8.png?1578281197')"
									 @click="getSpeakers('5CAA7C3D-BC7A-099E-4CBB-94425D')">
										<div class="mp_speakers_info" style="background-image: url('http://pic.topys.cn/mindpark/wx/guest_8_0417.png?1578281197');">
											<div class="mps_n">
												<p class="gt_black">佐藤卓 <br><span class="super">东京</span></p>
											</div>
											<div class="mps_j">
												<div class="guest_job">佐藤卓设计事务所<br />董事长</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="mp_speakers_main" id="mp_speakers_4">
							<div class="mp_speakers_title">美学教育</div>
							<div class="row">
							</div>
						</div>

						<div class="mp_speakers_main" id="mp_speakers_5">
							<div class="mp_speakers_title">娱乐创新</div>
							<div class="row">
							</div>
						</div>

						<div class="mp_speakers_main" id="mp_speakers_6">
							<div class="mp_speakers_title">数字艺术</div>
							<div class="row">
							</div>
						</div>
					</div>
					<div id="schedule" class="row">
						<div class="col-sm-12 s_position_2" style="margin-top: 80px;">
							<div class="mp_content">
								<div class="content_title">
									<p class="gt_black">AGENDA</p>
								</div>
							</div>

							<table id="schedule_table">
								<tr style="border-top: 1px solid #000;">
									<td rowspan="3" style="border-right: 1px solid #000;padding-top:20px;" width="120px">
										<p>04.20</p>
										<p>星期五</p>
									</td>
									<td style="padding-top: 20px;border-bottom: 1px solid #000;">
										<table id="schedule_info_table">
											<tr>
												<td rowspan="4" class="schedule_info_title ">创意城市</td>
												<td class="gt_normal" width="140px">9:00-9:55</td>
												<td class="gt_normal">Daan Roosegaarde - Studio Roosegaarde</td>
											</tr>
											<tr>
												<td class="gt_normal">10:00-10:55</td>
												<td class="gt_normal">James Binning - Assemble</td>
											</tr>
											<tr>
												<td class="gt_normal">11:00-11:55</td>
												<td class="gt_normal">Kingsley Jayasekera - 西九文化区管理局</td>
											</tr>
											<tr>
												<td class="gt_normal">11:00-11:55</td>
												<td class="gt_normal">Kingsley Jayasekera - 西九文化区管理局</td>
											</tr>
										</table>
									</td>
								</tr>
								
								<tr>
									<td style="padding-top: 20px;border-bottom: 1px solid #000;">
										<table id="schedule_info_table">
											<tr>
												<td rowspan="3" class="schedule_info_title ">文化消费目的地</td>
												<td class="gt_normal" width="140px">14:30-15:25</td>
												<td class="gt_normal">Ryan Bukstein - Ace Hotel</td>
											</tr>
											<tr>
												<td class="gt_normal">15:30-16:25</td>
												<td class="gt_normal">Nicholas Kenyon - Barbican Centre</td>
											</tr>
											<tr>
												<td class="gt_normal">16:30-17:25</td>
												<td class="gt_normal">Astrid Klein & Mark Dytham - Klein Dytham architecture</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td style="padding-top: 20px;">
										<table id="schedule_info_table">
											<tr>
												<td rowspan="3" class="schedule_info_title ">文化消费目的地</td>
												<td class="gt_normal" width="140px">14:30-15:25</td>
												<td class="gt_normal">Ryan Bukstein - Ace Hotel</td>
											</tr>
											<tr>
												<td class="gt_normal">15:30-16:25</td>
												<td class="gt_normal">Nicholas Kenyon - Barbican Centre</td>
											</tr>
											<tr>
												<td class="gt_normal">16:30-17:25</td>
												<td class="gt_normal">Astrid Klein & Mark Dytham - Klein Dytham architecture</td>
											</tr>
										</table>
									</td>
								</tr>

								<tr style="border-top: 1px solid #000;">
									<td rowspan="2" style="border-right: 1px solid #000;padding-top:20px;">
										<p>04.21</p>
										<p>星期六</p>
									</td>
									<td style="padding-top: 20px;border-bottom: 1px solid #000;">
										<table id="schedule_info_table">
											<tr>
												<td rowspan="3" class="schedule_info_title ">设计驱动</td>
												<td class="gt_normal" width="140px">9:00-9:55</td>
												<td class="gt_normal">Cecilia Clase - Koncept</td>
											</tr>
											<tr>
												<td class="gt_normal">10:00-10:55</td>
												<td class="gt_normal">佐藤卓 - 佐藤卓设计事务所</td>
											</tr>
											<tr>
												<td class="gt_normal">11:00-11:55</td>
												<td class="gt_normal">Jonas Pettersson - Form Us With Love</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td style="padding-top: 20px;">
										<table id="schedule_info_table">
											<tr>
												<td rowspan="3" class="schedule_info_title ">美学教育</td>
												<td class="gt_normal" width="140px">14:30-15:25</td>
												<td class="gt_normal">Raul Gutierrez - Tinybop</td>
											</tr>
											<tr>
												<td class="gt_normal">15:30-16:25</td>
												<td class="gt_normal">周功鑫 - 台北故宫博物院</td>
											</tr>
											<tr>
												<td class="gt_normal">16:30-17:25</td>
												<td class="gt_normal">日比野拓 - 日比野设计</td>
											</tr>
										</table>
									</td>
								</tr>

								<tr style="border-top: 1px solid #000;">
									<td rowspan="2" style="border-right: 1px solid #000;padding-top:20px;">
										<p>04.22</p>
										<p>星期日</p>
									</td>
									<td style="padding-top: 20px;border-bottom: 1px solid #000;">
										<table id="schedule_info_table">
											<tr>
												<td rowspan="3" class="schedule_info_title ">娱乐创新</td>
												<td class="gt_normal" width="140px">9:00-9:55</td>
												<td class="gt_normal">李武望 - 知了青年</td>
											</tr>
											<tr>
												<td class="gt_normal">10:00-10:55</td>
												<td class="gt_normal">Tom Pearson - Third Rail Projects</td>
											</tr>
											<tr>
												<td class="gt_normal">11:00-11:55</td>
												<td class="gt_normal">罗申骏 - 数字王国</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td style="padding-top: 20px;">
										<table id="schedule_info_table">
											<tr>
												<td rowspan="3" class="schedule_info_title ">数字艺术</td>
												<td class="gt_normal" width="140px">14:30-15:25</td>
												<td class="gt_normal">Daniel Iregui - Iregular</td>
											</tr>
											<tr>
												<td class="gt_normal">15:30-16:25</td>
												<td class="gt_normal">Alexander Us - Sila Sveta</td>
											</tr>
											<tr>
												<td class="gt_normal">16:30-17:25</td>
												<td class="gt_normal">Mike McGee - Framestore</td>
											</tr>
										</table>
									</td>
								</tr>

								<tr style="border-top: 1px solid #000;">
									<td rowspan="2" style="border-right: 1px solid #000;padding-top:20px;">
										<p class=''>大师班</p>
										<p>04.23</p>
										<p>星期一</p>
									</td>
									<td style="padding-top: 20px;border-bottom: 1px solid #000;">
										<table id="schedule_info_table">
											<tr>
												<td rowspan="3" class="schedule_info_title ">上午</td>
												<td class="gt_normal" width="140px">10:00-12:00</td>
												<td class="gt_normal">课程一 ( James Binning ) <br /> 课程二 ( Astrid Klein & Mark Dytham )<br /><br /></td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td style="padding-top: 20px;">
										<table id="schedule_info_table">
											<tr>
												<td rowspan="3" class="schedule_info_title ">下午</td>
												<td class="gt_normal" width="140px">15:30-17:30</td>
												<td class="gt_normal">课程三 ( 日比野拓 ) <br> 课程四 ( Jonas Pettersson )<br><br></td>
											</tr>
										</table>
									</td>
								</tr>

							</table>
						</div>
					</div>
					<div id="modal">
						<div class="modal_close">
							<div class="row">
								<div class="col-sm-12 text-right">
									<a href="javascript:;" onclick="Custombox.modal.close()"><img src="Public/images/home/index/modal_close.png"
										 width="45px"></a>
								</div>
							</div>
						</div>

						<div class="modal_main">
							<div class="modal_body row">
								<div class="col-sm-6 guest_name" v-html="items.name_html + items.job"></div>
								<div class="col-sm-6 text-right">
									<img :src="items.pic" width="225px" height="225px">
								</div>

								<div class="col-sm-12" id="modal_speaker_info" v-html="items.introduce"></div>

								<div class="col-sm-12 guest_web">
									<a :href="items.web" target="_blank"><img src="http://pic.topys.cn/mindpark/wx/w_icon.png" width="13px">
										{{items.web}}</a>
								</div>

								<div v-for="pic in items['pic_list']" class="col-sm-12 guest_pic_list">
									<img :src="pic" width="100%">
								</div>

								<div class="col-sm-12 text-right">{{items.company}} © 2018</div>

							</div>
						</div>
					</div>
				</div>


				<div id="master_class" class="row">
					<div class="col-sm-8 s_position_7">
						<div id="master_content" class="mp_content">
							<div class="content_title">
								<p class="gt_black h">DESIGN COMPETITION</p>
							</div>
							<p class="content_text" style="margin-bottom: 20px;">
								<strong>As you might have started preparing for the event, below are some guidelines which will make your
									travel and stay convenient. Information of Thailand VISA, Airport Tranfers, Money Exchange and Hotel Booking.
									If you need any further informations please contact us at icacongress19@gmail.com</strong>
							</p>
						</div>
					</div>
					<div class="col-sm-8">
						<img src="Public/images/home/index/DESIGN.png" />
					</div>

				</div>

				<div id="news" class="row" style="margin:80px 0;">
					<p class="gt_black" style="margin-bottom:30px;">NEWS</p>
					<div class="master_swiper s_position_4">
						<div class="swiper-container" id="newSwiper" style="height: 506px;width: 850px;position: relative;left: -47px;">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a class="new_a" href="">
										<img src="Public/images/home/index/new_1.png" width="100%">
										<p class="news_p">
											Diamond and Jewellery, Glitter in the Greater Bay Area
										</p>
										<div class="news_time">Aug 15th, 2019</div>
									</a>
								</div>
								<div class="swiper-slide">
									<a class="new_a" href="">
										<img src="Public/images/home/index/new_2.png" width="100%">
										<p class="news_p">
											Diamond and Jewellery, Glitter in the Greater Bay Area
										</p>
										<div class="news_time">Aug 15th, 2019</div>
									</a>
								</div>
							</div>
						</div>

						<div class="image_arrow text-right">
							<div class="modal-swiper-button-next"></div>
							<div class="modal-swiper-button-prev"></div>
						</div>
					</div>
				</div>

				<div id="mind_park" class="row">
					<div class="col-sm-8 s_position_5">
						<div class="mp_content">
							<div class="content_title">
								<!--<p class="">设计比赛</p>-->
								<p class="gt_black">VENUE</p>
							</div>
							<div>
								<h4>IBC jewelry headquarters building</h4>
								<p class="content_text">
									<strong>
										<p>
											IBC jewelry headquarters building, developed and constructed by Shenzhen Shuibei Jewelry Group, a pioneer
											and leader who is committed to promoting the transformation and development of China's Pan jewelry industry
											and the operation of industry chain platform, is one of the ten major urban renewal projects in Luohu,
											Shenzhen. The only approved "jewelry headquarters building" in shuibeixin District of Luohu is the new
											business landmark of shuibeixin district.
										</p>
										<p>
											IBC jewelry headquarters building, developed and constructed by Shenzhen Shuibei Jewelry Group, a pioneer
											and leader who is committed to promoting the transformation and development of China's Pan jewelry industry
											and the operation of industry chain platform, is one of the ten major urban renewal projects in Luohu,
											Shenzhen. The only approved "jewelry headquarters building" in shuibeixin District of Luohu is the new
											business landmark of shuibeixin district.
										</p>

									</strong>
								</p>
							</div>
							<div>
								<img src="Public/images/home/index/VENUE.png" />
							</div>
							<div>
								<h4>IBC jewelry headquarters building</h4>
								<p class="content_text">
									<strong>
										<p>
											IBC jewelry headquarters building, developed and constructed by Shenzhen Shuibei Jewelry Group, a pioneer
											and leader who is committed to promoting the transformation and development of China's Pan jewelry industry
											and the operation of industry chain platform, is one of the ten major urban renewal projects in Luohu,
											Shenzhen. The only approved "jewelry headquarters building" in shuibeixin District of Luohu is the new
											business landmark of shuibeixin district.
										</p>
										<p>
											IBC jewelry headquarters building, developed and constructed by Shenzhen Shuibei Jewelry Group, a pioneer
											and leader who is committed to promoting the transformation and development of China's Pan jewelry industry
											and the operation of industry chain platform, is one of the ten major urban renewal projects in Luohu,
											Shenzhen. The only approved "jewelry headquarters building" in shuibeixin District of Luohu is the new
											business landmark of shuibeixin district.
										</p>
									</strong>
								</p>
							</div>
						</div>
					</div>

				</div>

				<div id="GUIDE" class="row">
					<div class="col-sm-12 s_position_6">
						<div class="mp_content">
							<div class="content_title">
								<!--<p class="">ACCOMMODATION AND ITINERARY</p>-->
								<p class="gt_black">TOUR GUIDE</p>
							</div>
						</div>
						<div class="col-sm-8">
							<div class="master_swiper">
								<div class="swiper-container" id="GUIDE_swiper">
									<div class="swiper-wrapper">
										<div class="swiper-slide"><img src="http://pic.topys.cn/mindpark/wx/masterclass_1.jpg?x-oss-process=image/resize,w_750"
											 width="100%"></div>
										<div class="swiper-slide"><img src="http://pic.topys.cn/mindpark/wx/masterclass_2.jpg?x-oss-process=image/resize,w_750"
											 width="100%"></div>
										<div class="swiper-slide"><img src="http://pic.topys.cn/mindpark/wx/masterclass_3.jpg?x-oss-process=image/resize,w_750"
											 width="100%"></div>
										<div class="swiper-slide"><img src="http://pic.topys.cn/mindpark/wx/masterclass_4.jpg?x-oss-process=image/resize,w_750"
											 width="100%"></div>
										<div class="swiper-slide"><img src="http://pic.topys.cn/mindpark/wx/masterclass_5.jpg?x-oss-process=image/resize,w_750"
											 width="100%"></div>
									</div>
								</div>

								<div class="image_arrow text-right">
									<div class="modal-swiper-button-next"></div>
									<div class="modal-swiper-button-prev"></div>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<p>
								Grand Hyatt Shenzhen is situated in the Luohu district and is part of City Crossing, one of the most
								prestigious mixed-used commercial developments including the China Resources Building, Park Lane Manor and the
								MixC Shopping Mall The hotel features 471 luxury rooms, 13 dedicated event spaces, 8 distinctive restaurants
								and bars and a resort style spa. For travelers who seek to balance business with leisure, Grand Hyatt Shenzhen
								is the city’s ultimate luxury lifestyle address.
							</p>
						</div>
						<div class="col-sm-12">
							<h4>RESTAURANTS</h4>
							<ul>
								<li>1881 – Northern Chinese and Sichuan specialties, such as wood fired Beijing duck </li>
								<li>La Terrazza – Authentic Italian cuisine</li>
								<li>The Show Kitchen – Interactive buffet restaurant</li>
								<li>China Lodge – Traditional Cantonese and Shun De fare</li>
								<li>Belle-Vue Grill – Premium imported steaks, seafood and wines</li>
								<li>The Penthouse – Residential bar on the top floor</li>
								<li>Sugar Box – Cakes, pastries, coffee and refreshing beverages</li>
								<li>The Lounge – Afternoon tea set, snacks and drinks</li>
							</ul>
						</div>
						<div class="col-sm-12">
							<h4>RESTAURANTS</h4>
							<ul>
								<li>1881 – Northern Chinese and Sichuan specialties, such as wood fired Beijing duck </li>
								<li>La Terrazza – Authentic Italian cuisine</li>
								<li>The Show Kitchen – Interactive buffet restaurant</li>
								<li>China Lodge – Traditional Cantonese and Shun De fare</li>
								<li>Belle-Vue Grill – Premium imported steaks, seafood and wines</li>
								<li>The Penthouse – Residential bar on the top floor</li>
								<li>Sugar Box – Cakes, pastries, coffee and refreshing beverages</li>
								<li>The Lounge – Afternoon tea set, snacks and drinks</li>
							</ul>
						</div>
						<div class="col-sm-12">
							<div class="j_btn text-center" style="position: relative;left: -378px;">BOOK ONLINE</div>
						</div>

					</div>
				</div>


				<div id="index_page_main" class="row">
					<div class="col-sm-12 theme-box">
						<div class="mp_content ">
							<div class="content_title">
							</div>

							<p class="content_text">
							</p>
							<p class="content_text">
							</p>
						</div>

					</div>

					<div id="index_modal">
						<div class="modal_close">
							<div class="row">
								<div class="col-sm-12 text-right">
									<a href="javascript:;" onclick="Custombox.modal.close()"><img src="Public/images/home/index/modal_close.png"
										 width="45px"></a>
								</div>
							</div>
						</div>

						<div id="index_modal_main">
							<div class="row image_list">
								<div class="image_swiper col-sm-12">
									<div class="swiper-container">
										<div class="swiper-wrapper">
											<div class="swiper-slide" v-for="pic in items['pic_list']"><img :src="pic" width="100%"></div>
										</div>
									</div>

									<div class="image_arrow text-right">
										<div class="modal-swiper-button-next"></div>
										<div class="modal-swiper-button-prev"></div>
									</div>
								</div>
							</div>

							<div class="modal_body row" style="margin-top: 0px;">
								<div class="col-sm-12" id="modal_info">
									<h2><strong>{{items.title}}</strong></h2>
									<br />
									{{items.info}}
								</div>
							</div>
						</div>
					</div>

				</div>

				<!--<div id="media" class="row">
				<div class="col-sm-12 s_position_8">
					<div class="mp_content">
						<div class="content_title">
							<p class="">ABOUT ICA</p>
							<p class="gt_black">SCHEDULE</p>
						</div>
					</div>
				</div>
			</div>-->
			</div>
		</div>

		<div id="footer">
			<div class="container">
				<div class="container_body">
					<div class="col-sm-10">
					</div>
				</div>
			</div>

			<div class="footer_sign"></div>

			<div class="container lang-zh-cn">
				<div class="container_body">
					<div id="join" class="col-sm-10">

					</div>
					<div class="col-sm-10">
						<div class="mp_content footer_content_3 s_position_8">
							<p class="gt_black">About ICA</p>
							<div class="content_title">
								ICA introduction<br>
								<a href="" target="_blank"><img src="Public/images/home/index/textLogo.png" width="200px" height="auto" /></a>
							</div>

							<p class="content_text">
								International Colored Gemstone Association (ICA) was founded in 1984. It is a non-profit organization and the
								only worldwide body which specifically serves the global Colored Gemstone industry and devotes to promoting the
								knowledge of colored gemstones and connoisseurship. Since the founding of ICA, it has built a global network of
								its membership that works together to develop a common language for promotion and consistent ethical business
								standards necessary to improve international communication and trade of colored gemstones. ‘World's Colors
								Glitter in China’ would be the topic of ICA Congress in September 2020 and the journey will start from
								Shenzhen, China.
								<p class="content_web gt_black"><a href="" target="_blank">VIEW MORE</a></p>
						</div>
						<div class="mp_content footer_content_3">
							<div class="content_title">
								ICA introduction<br>
								<a href="" target="_blank"><img src="Public/images/home/index/rightLogo.png" width="150px" height="auto" /></a>
							</div>

							<p class="content_text">
								International Colored Gemstone Association (ICA) was founded in 1984. It is a non-profit organization and the
								only worldwide body which specifically serves the global Colored Gemstone industry and devotes to promoting the
								knowledge of colored gemstones and connoisseurship. Since the founding of ICA, it has built a global network of
								its membership that works together to develop a common language for promotion and consistent ethical business
								standards necessary to improve international communication and trade of colored gemstones. ‘World's Colors
								Glitter in China’ would be the topic of ICA Congress in September 2020 and the journey will start from
								Shenzhen, China.
								<p class="content_web gt_black"><a href="" target="_blank">VIEW MORE</a></p>
						</div>

					</div>

					<div class="col-sm-12 s_position_9" style="margin-top: 200px;">
						<p class="gt_black" style="margin-bottom: 50px;">SPONSORS</p>
						<img src="Public/images/home/index/SpiritImg.png" width="70%">
					</div>

					<div class="row">
						<div class="col-sm-12">
							<div class="follow_line"></div>
							<div class="follow_title">
								<div class="">CONTACT US</div>
							</div>
							<div class="follow_info">
								Telephone : 0755 - 25685599 / 0755 - 26913365
								<br>
								E-mail : bjzb@sbjew.comAddress
							</div>
							<div class="follow_share row">
								<div class="col-sm-12 follow_list">
									Follow Us
									<a href="https://weibo.com/p/1006061734960191/home?from=page_100606&mod=TAB&is_all=1#place" target="_blank"><img
										 src="http://pic.topys.cn/mindpark/wx/weibo.png?1578281197" width='36px'></a>

									<img class="l_m_btn" src="http://pic.topys.cn/mindpark/wx/wechat.png?1578281197" width='36px' data-img='http://pic.topys.cn/mindpark/wx/wechat_modal.png?1578281197'>

									<a href="https://www.instagram.com/mindpark2018/" target="_blank"><img src="http://pic.topys.cn/mindpark/wx/ins.png?1578281197"
										 width='36px'></a>

									<a href="https://www.facebook.com/MindPark创意大会-180860312687490/" target="_blank"><img src="http://pic.topys.cn/mindpark/wx/facebook.png?1578281197"
										 width='36px'></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="v_modal" style="display: none;">
			<div class="modal_close">
				<div class="row">
					<div class="col-sm-12 text-right">
						<a href="javascript:;" onclick="Custombox.modal.close()"><img src="Public/images/home/index/modal_close.png"
							 width="45px"></a>
					</div>
				</div>
			</div>

			<div class="modal_main">
				<div class="modal_body row">
					<div class="v_b_title">
					</div>

					<div class="v_info">
						<p>
						</p>
						<p>
						</p>
						<p>
						</p>
					</div>

					<div class="v_line"></div>

					<div class="v_title">
						<p class="v_en_title">GUEST</p>
					</div>

					<div class="v_info">
						<p>
						</p>
						<p>
						</p>
						<p>
						</p>
					</div>

					<div class="v_line"></div>

					<div class="v_title">
						<p class="v_en_title">EXHIBITION</p>
					</div>

					<div class="v_info">
						<p>
						</p>
						<p>
						</p>
						<p>
						</p>
					</div>

					<div class="v_line"></div>

					<div class="v_title">
						<p class="v_en_title">ON-SITE</p>
					</div>

					<div class="v_info">
						<p>

						</p>
						<p>

						</p>
						<p>

						</p>
					</div>

					<div class="v_line"></div>

					<div class="v_title">
						媒体组
						<p class="v_en_title">MEDIA</p>
					</div>

					<div class="v_info">
						<p>
							招募人数<br />4人
						</p>
						<p>
							<font class="v_bold">招募要求</font>
							<br>1．英文或日文读写流利,可协助现场采访翻译
							<br>2．极强的协调能力、执行力、现场灵活应变能力
							<br>3．良好的沟通技能，有相关口译经验、媒介经验优先
						</p>
						<p>
							<font class="v_bold">工作内容</font>
							<br>1．根据媒体采访语言需求，协助媒体采访期间的中文或日文翻译
							<br>2．协助现场有关媒体采访的咨询及采访室的安排
						</p>
					</div>

					<div class="v_line"></div>

					<div class="v_info">
						<p>
							<font class="v_bold">应征须知</font>
							<br>1．自愿参加MINDPARK2018创意大会的志愿者服务；
							<br>2．能够保证充裕时间参加会前培训及相关活动，非诚勿扰；
							<br>3．遵守中华人民共和国法律法规，无违法犯罪记录；
							<br>4．年龄在18-30岁，身体及心理健康，能满足相应志愿者岗位工作要求；
							<br>5．有志愿服务经验者优先；
							<br>6．英语、日语、俄语口语流利者优先；
							<br>7．专业摄影摄像、自带设备者优先；
							<br>8．服从MINDPARK2018创意大会组委会的指挥与调配，在组委会安排的时间和岗位提供全程服务，遵守工作制度，恪守志愿者岗位职责；
							<br>9．有团队精神及公关意识。
						</p>
						<p>
							<font class="v_bold">服务区域</font>
							<br>志愿者主要在大会会场、嘉宾住宿地、嘉宾接送及陪同地等区域提供志愿服务。
						</p>
						<p>
							<font class="v_bold">志愿者保障与福利</font>
							<br>1．MINDPARK2018创意大会组委会制发志愿者服务证书；
							<br>2．MINDPARK2018创意大会工作证及工作服；
							<br>3．MINDPARK2018创意大会纪念品一套；
							<br>4．志愿者补贴；
							<br>5．零距离接触全球创意顶尖人物的机会；
							<br>6．有机会加入主办方TOPYS团队。
						</p>
						<p>
							<font class="v_bold">报名方式</font>
							<br>填写网站招募表，MINDPARK组委会将在收到招募表后五个工作日内给予消息反馈。
						</p>
						<p>
							<font class="v_bold">注意事项</font>
							<br>请认真读取各个组别的要求及工作内容后填写招募表；
							<br>志愿者须参加会前上岗培训会，在培训会中会进行志愿者培训和会前准备工作，具体时间和地点由组委会统一安排；
							<br>请确保有足够的时间参与会前培训及活动，入选后不得临时退出。
						</p>
					</div>

					<div class="col-sm-12 text-center">
						<a href="https://jinshuju.net/f/RK8VBn" target="_blank"><button class="btn btn-default v_sub_btn">点击报名</button></a>
					</div>
				</div>
			</div>
		</div>
		<div id="join_modal" style="display: none;">
			<div class="modal_close">
				<div class="row">
					<div class="col-sm-12 text-right">
						<a href="javascript:;" onclick="Custombox.modal.close()"><img src="Public/images/home/index/modal_close.png"
							 width="45px"></a>
					</div>
				</div>
			</div>

			<div class="modal_main">
				<div class="modal_body row">
					<div class="join_form col-sm-12">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="姓名" v-model='name'>
						</div>

						<div class="form-group">
							<label>合作方式</label>
							<select class="form-control" v-model='type'>
								<option value="机构合作">机构合作</option>
								<option value="内容合作">内容合作</option>
								<option value="商业合作">商业合作</option>
								<option value="媒体合作">媒体合作</option>
							</select>
						</div>

						<div class="form-group">
							<input type="text" class="form-control" placeholder="企业/机构/品牌名称" v-model='company'>
						</div>

						<div class="form-group">
							<input type="text" class="form-control" placeholder="联系电话" v-model='tel'>
						</div>

						<div class="form-group">
							<textarea class="form-control" rows="3" v-model='mark' placeholder="备注"></textarea>
						</div>

						<div class="form-group text-right">
							<button class="btn btn-default join_sub_btn" @click="joinSubmit()">提交信息</button>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-sm-12 text-center follow">
			© ICA Congress 2019. All rights reserved.
		</div>

		<!-- JS Global Compulsory -->
		<script src="Public/plug-in/jquery/dist/jquery.min.js"></script>
		<script src="Public/plug-in/vue/dist/vue.min.js"></script>
		<script src="Public/plug-in/custmbox/dist/custombox.legacy.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="Public/plug-in/custmbox/dist/custombox.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="Public/plug-in/SuperSceollorama/js/greensock/TweenMax.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="Public/plug-in/SuperSceollorama/js/jquert.superscrollorama.js" type="text/javascript" charset="utf-8"></script>
		<script src="Public/plug-in/waypoints/lib/jquert.waypoints.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="./Public/plug-in/jquery.countup/jquery.countup.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="Public/plug-in/svg.js/dist/svg.min.js"></script>
		<script src="Public/plug-in/KUTE.js/dist/kute.min.js"></script>
		<script src="Public/plug-in/KUTE.js/dist/kute-svg.min.js"></script>
		<script src="Public/plug-in/plyr/dist/plyr.js"></script>
		<script src="Public/plug-in/swiper/dist/js/swiper.min.js"></script>
		<script src="Public/js/home/index.js?v=1578281197"></script>
		<script type="text/javascript">
			$("#menu_ul li a").on("click", function() {
				$(this).addClass("aColor").parent().siblings().children("a").removeClass("aColor")
			})
			new Swiper("#newSwiper", {
				watchSlidesProgress: true,
				watchSlidesVisibility: true,
				//				spaceBetween:30,
				slidesPerView: 2,
				pagination: {
					el: '.swiper-pagination',
				},
				autoplay: {
					delay: 2e3,
					stopOnLastSlide: !1,
					disableOnInteraction: !0
				},
				loop: !0,
				grabCursor: !0,
				navigation: {
					nextEl: ".master_swiper .modal-swiper-button-next",
					prevEl: ".master_swiper .modal-swiper-button-prev"
				}
			});

			new Swiper("#GUIDE_swiper", {
				spaceBetween: 30,
				pagination: {
					el: '.swiper-pagination',
				},
				autoplay: {
					delay: 2e3,
					stopOnLastSlide: !1,
					disableOnInteraction: !0
				},
				loop: !0,
				grabCursor: !0,
				navigation: {
					nextEl: ".master_swiper .modal-swiper-button-next",
					prevEl: ".master_swiper .modal-swiper-button-prev"
				}
			});
		</script>
	</body>
</html>
