@font-face {
	font-family: gtBlack;
	src: url(../../webfont/GeometricBT.ttf) format('woff');
	font-weight: 500;
	font-style: normal
}

/* @font-face {
	font-family: gtBlack;
	src: url(/Public/webfont/GTWalsheim-Regular.woff) format('woff');
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: gtBlack;
	src: url(/Public/webfont/GTWalsheim-Bold.woff) format('woff');
	font-weight: 700;
	font-style: normal
} */
.menu{
	
	position: absolute;
	top: 0;
	right: 20px;
}
.menuMove{
	width: 100%;
	height: 735px;
	position: fixed;
	top:0;
	left: 0;
	background: #fff;
	z-index: 9999999999;
	display: none;
}
.menuMoveHead{
}

.menuMoveHead .menu_logo{
	padding:20px;
}
.menuMoveHead .clone{
	float: right;
	padding:20px;
}
.menuContent{
	width: 100%;
	border-top: 2px solid #595554;
	border-bottom: 2px solid #595554;
	text-align: center;
}
.menuContent img{
	padding:30px 0;
}
.menuNav{
	text-align: center;
	border-bottom: 2px solid #595554;
}
.menuNav a,.menuBtn a{
	display: block;
	padding:10px 0;
}
.menuBtn{
	text-align: center;
	border-bottom: 2px solid #595554;
}
.social{
	/* position: a;
	bottom:30px;
	left: 50%;
	transform: translateX(-50%); */
	text-align: center;
	    margin-top: 110px;
}
.social a{
	margin:0 6px;
}
.social img{
	width: 35px;
}
.menu img{
	width: 30px;
	height:30px;
}
.gt_black {
	font-family: gtBlack;
	margin-bottom: 0;
	height: 60px;
	line-height: 60px;
	font-size: 60px;
	font-weight: 700
}

.flex-wrp {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between
}

.gt_title_cn {
	font-size: 22px;
	font-weight: 700
}

.gt_title_us {
	font-size: 36px;
	font-weight: 700
}

.gt_info {
	font-size: 15px;
	margin-top: 20px
}

.clear {
	clear: both
}

body {
	background-color: #000;
	color: #fff
}

.header {
	margin-top: 25px
}

.flex_header {
	position: fixed;
	z-index: 99999;
	top: 0;
	width: 100%
}

.flex_hidden {
	opacity: 0
}

.flex_show {
	opacity: 1
}

.main {
	padding: 4%
}

.about,
.footer,
.master,
.park,
.schedule,
.speakers,
.team {
	padding: 20px;
	padding-top: 50px;
	z-index: 100
}

.schedule,
.speakers {
	background-color: #d8d8d8;
	color: #000
}

.guest_list {
	margin-top: 50px
}

.schedult_title {
	border-top: 4px solid #000;
	height: 40px;
	line-height: 40px;
	font-size: 22px
}

.schedult_bb_line {
	border-bottom: 2px solid #000
}

.schedult_b_line {
	border-bottom: 1px solid #000
}

.schedult_info .flex-wrp {
	justify-content: flex-start
}

.schedule_left {
	font-weight: bolder;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 100px;
	font-size: 15px
}

.schedule_first {
	font-weight: bolder;
	padding-top: 20px;
	font-size: 15px
}

.schedule_right {
	font-size: 14px;
	margin-left: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: left;
	width: 200px
}

.modal_title {
	margin-top: 20px
}

.footer {
	margin-top: 100px;
	padding-bottom: 100px
}

.footer_web {
	margin-top: 20px;
	font-size: 16px
}

.flex_footer {
	position: fixed;
	bottom: 0;
	height: 52px;
	width: 100%;
	/* background-color: #1c1c1c */
}

.flex_footer .flex-item {
	height: 52px;
	line-height: 52px;
	font-size: 15px;
	text-align: center
}

.flex_active {
	color: #0068b2
}

.buy_btn {
	width: 116px;
	height: 36px;
	background-color: #0068b2;
	text-align: center;
	font-size: 18px;
	line-height: 36px;
	position: fixed;
	top: 60px;
	right: 50px;
	z-index: 99999
}

.main-bg {
	position: absolute;
	top:-24px;
}

.down-icon {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 100px
}

.swiper-tab {
	display: flex;
	width: 100%;
	text-align: center;
	font-size: 22px;
	font-weight: 700;
	margin-top: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 5px solid #000;
	border-bottom: 2px solid #000
}

.swiper-tab-list {
	font-size: 15px;
	flex: 1
}

.on {
	color: #0068b2
}

.swiper-box {
	display: block;
	height: 450px;
	width: 100%;
	overflow: hidden;
	z-index: 300;
	border-bottom: 5px solid #000
}

.swiper-box div {
	text-align: left
}

.modal_title .gtblack {
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 24px;
	font-weight: 700;
	background-image: url(http://pic.topys.cn/mindpark/wx/right_icon.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 11px 16px;
	border-bottom: 1px solid #fff
}

.buy-ticket {
	color: #fff;
	background-color: #0068b2
}

.ecode_text {
	bottom: 14px;
	top: 14px;
	font-family: gtBlack;
	text-transform: uppercase;
	line-height: 16px
}

.red-on {
	color: #e34c53
}

.herf_link {
	color: #fff
}

#footer {
	z-index: 9999
}

.pic-swiper-container {
	margin-top: 15px;
	width: 375px;
	height: 250px
}

.pic-swiper-box {
	display: block;
	height: 250px;
	width: 100%;
	overflow: hidden;
	z-index: 300
}

.pic-swiper-box div {
	text-align: left
}

.border-top {
	border-top: 1px solid #fff
}

.no-need-border {
	border: none !important;
	background: 0 0 !important
}

.master-bg {
	position: absolute;
	right: 0;
	top: 600px
}

.park-bg {
	position: absolute;
	right: 0;
	bottom: 50px
}

.need-bg {
	position: relative;
	padding-bottom: 125px
}

.footer_web {
	width: 100%
}

.href_link {
	color: #fff
}

.partner-box {
	margin-top: 15px;
	height: 490px;
	background-color: #d8d8d8
}

.partner-item {
	padding-left: 15px;
	padding-right: 15px;
	background-color: #d8d8d8
}

.partner-title {
	color: #000;
	font-size: 22px;
	font-weight: 700;
	height: 75px;
	padding-top: 15px;
	border-bottom: 2px solid #000;
	background-repeat: no-repeat;
	background-position: right center
}

.partner-title-1 {
	background-image: url(http://pic.topys.cn/mindpark/wx/icon_partner_1.png);
	background-size: 73px 49px
}

.partner-title-2 {
	background-image: url(http://pic.topys.cn/mindpark/wx/icon_partner_2.png);
	background-size: 44px 49px
}

.partner-title-3 {
	background-image: url(http://pic.topys.cn/mindpark/wx/icon_partner_3.png);
	background-size: 60px 49px
}

.partner-title-4 {
	background-image: url(http://pic.topys.cn/mindpark/wx/icon_partner_4.png);
	background-size: 61px 49px
}

.partner-box .gt_info {
	color: #000;
	height: 300px
}

.partner-box .btn-box {
	text-align: right;
	padding: 15px;
	background-color: #d8d8d8
}

.partner-box .contact-btn {
	display: inline-block;
	background-color: #0068b2;
	color: #fff;
	border: none;
	border-radius: 0;
	font-size: 16px;
	line-height: 40px;
	width: 100px;
	height: 40px;
	padding: 0
}

.contact-btn::after {
	border: none
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background: #fff
}
